.content-form {
  align-content: center;
  text-align: center;
  padding: 2rem;
}

/* Estilo para los inputs de tipo file */
input[type="file"] {
    display: none; /* Oculta el input de tipo file */
}

/* Estilo para el contenedor del archivo */
.file {
  width: 100%; /* El contenedor ocupa el 100% del ancho disponible */
  display: block; /* Muestra el contenedor como un elemento de bloque */
  margin-top: 20px; /* Margen superior del contenedor */
  padding: 10px; /* Espaciado interno del contenedor */
  border: none; /* Elimina el borde del contenedor */
  background: #F2F2F2; /* Color de fondo del contenedor */
  font-size: 16px; /* Tamaño de la fuente del texto en el contenedor */
  outline: none; /* Elimina el contorno del contenedor */
  color: #7a7a7a; /* Color del texto en el contenedor */
  cursor: pointer; /* Cambia el cursor a una mano apuntando para indicar clickeo */
}

.form {
  display: flex;  
  flex-direction: column;
  align-content: center;
  text-align: center;
  flex-wrap: wrap;
  padding: 2rem;
}

.input {
  margin: 1rem;
  width: 20rem;
  padding: 0.5rem 1rem;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--color-oscuro);
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid var(--color-1);
  appearance: none;
  border-radius: 4px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  :focus{
      color: var(--color-oscuro);
      background-color: #fff;
      border-color: var(--color-5);
      outline: 0;
      box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  }
}

.form button {
  width: 22rem;  
  padding: 1rem 2rem;
  margin: 1rem;
}

.form select {
  width: 22rem;
}

.form small {
  color: red; /* Color del texto para mensajes de error */
}