:root {
    --color-primario: #8C034E;
    --color-secundario: #730237;
    --color-terciario: #9B7C68;
    --color-cuaternario: #D7C2C1;
    --color-quinario: #E1D5D7;

    --color-font: #232323;
    --color-font-back: #a1a1a1;

    --color-bacground: #dadada;    
    
    --font: "Josefin Sans", sans-serif;
  }