 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     text-decoration: none;
     font-family: 'Roboto', sans-serif;
 }

 body {
     background-image: url(../../img/app/portada.png);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     background-attachment: fixed;
 }

 main {
     width: 100%;
     padding: 20px;
     margin: auto;
     margin-top: 100px;
 }

 .contenedor__todo {
     width: 100%;
     max-width: 800px;
     margin: auto;
     position: relative;
 }

 .caja__trasera {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: #415f2799;    
 }

 .caja__trasera div {
     margin: 100px 40px;
     color: white;
     transition: all 500ms;
 }


 .caja__trasera div p,
 .caja__trasera button {
     margin-top: 30px;
 }

 .caja__trasera div h3 {
     font-weight: 400;
     font-size: 26px;
 }

 .caja__trasera div p {
     font-size: 16px;
     font-weight: 300;
 }

 /*Formularios*/

 .contenedor__login-register {
     display: flex;
     align-items: center;
     width: 100%;
     max-width: 380px;
     position: relative;
     top: -185px;
     left: 10px;     
     transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
 }

 .contenedor__login-register form {
     width: 97%;
     padding: 20px 17px;
     background: white;
     position: absolute;
     border-radius: 20px;
 }

 .contenedor__login-register form h2 {
     font-size: 30px;
     text-align: center;
     margin-bottom: 20px;
     color: var(--color-1);
 }

 .contenedor__login-register form input {
     width: 100%;
     margin-top: 20px;
     padding: 10px;
     border: none;
     background: #F2F2F2;
     font-size: 16px;
     outline: none;
     border-radius: 1rem;
 }

 .contenedor__login-register form button {
     margin-top: 40px;
 }

 select {
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     background-color: #f9f9f9;
 }

 select option {
     padding: 10px;
 }


 .formulario__login {
     opacity: 1;
     display: block;
 }

 .formulario__register {
     display: none;
 }



 @media screen and (max-width: 850px) {

     main {
         margin-top: 50px;
     }

     .caja__trasera {
         max-width: 350px;
         height: 300px;
         flex-direction: column;
         margin: auto;
     }

     .caja__trasera div {
         margin: 0px;
         position: absolute;
     }     

     .contenedor__login-register {
         top: -10px;
         left: -5px;
         margin: auto;
     }

     .contenedor__login-register form {
         position: relative;
     }
 }

 input[type="file"] {
     display: none;
 }

.input {
     width: 100%;
     display: block;
     margin-top: 20px;
     padding: 10px;
     border: none;
     background: #F2F2F2;
     font-size: 16px;
     outline: none;
     color: #7a7a7a;
     cursor: pointer;
     border-radius: 1rem;
}

small {
     color: red;
}